[Unit]
Description=Image uploader
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/media-uploader
KillMode=process
Restart=on-failure
Type=notify
User=media-upload
Type=simple

[Install]
WantedBy=multi-user.target
